.platform_component_popupmenu {
    position: absolute;
    background: white;
    border: 1px solid black;
    display: none;
}

.platform_component_popupmenu > div {
    padding: 3px 10px 3px 3px;
    cursor: pointer;
}

.platform_component_popupmenu > div:hover {
    background: gray;
}

.platform_component_popupmenu > div > a {
    text-decoration: none;
    color: black;
}

.platform_component_popupmenu > div:hover > a {
    color: white;
}


.platform_component_popupmenu > div:not(:last-child) {
    border-bottom: 1px solid black;
}