.platform_action {
    cursor: pointer;
}

.platform_content_box {
    display: none;
    overflow: hidden;
}

.platform_disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.platform_invisible {
    display: none;
}

.platform_row {
    display: block;
}

.platform_column {
    vertical-align: top;
    display: inline-block;
    padding: 0px 20px 0px 10px;
    margin: 0px;
    box-sizing: border-box;
}

.platform_field_container {
    margin-top: 8px;
}

