.platform_action {
    cursor: pointer;
}

.platform_content_box {
    display: none;
    overflow: hidden;
}

.platform_disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.platform_invisible {
    display: none;
}

.platform_table {
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.platform_autocenter {
    margin-left: auto;
    margin-right: auto;
}

.platform_autocenter .platform_table {
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 980px) {
    .platform_autocenter {
        min-width: 980px;
    }
    
    .platform_autocenter .platform_table {
        min-width: 980px;
    }
    
}