.platform_action {
    cursor: pointer;
}

.platform_content_box {
    display: none;
    overflow: hidden;
}

.platform_disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.platform_invisible {
    display: none;
}

.platform_table {
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.platform_autocenter {
    margin-left: auto;
    margin-right: auto;
}

.platform_autocenter .platform_table {
    margin-left: auto;
    margin-right: auto;
}

.platform_row {
    display: block;
}

.platform_column {
    vertical-align: top;
    display: inline-block;
    padding: 0px 20px 0px 10px;
    margin: 0px;
    box-sizing: border-box;
}

.platform_field_container {
    margin-top: 8px;
}

@media (min-width: 980px) {
    .platform_autocenter {
        min-width: 980px;
    }
    
    .platform_autocenter .platform_table {
        min-width: 980px;
    }
    
}