.platform_form_field_container {
    margin-bottom: 1px;
}

.platform_form_global_error_container {
    font-size: 0.7em;
    color: red;
    background: #FFDDDD;
    display: none;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.platform_field_label_container {
    display: flex;
    align-items: baseline;
}

.platform_field_label_container > label {
    flex-shrink: 0;
}

.platform_field_label_container > .platform_field_input_container {
    flex-grow: 1;
    flex-shrink: 1;
}

.platform_left_label {
    padding-right: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
}

.platform_right_label {
    padding-left: 5px;
}

.platform_bottom_label {
    padding-left: 5px;
    font-size: 0.8em;
}

.platform_form_field_inner_container {
    width: 100%;
}

.platform_form_field:not([type="checkbox"]) {
    width: 100%;
    box-sizing: border-box;
}

.platform_form_field[type="checkbox"] {
    margin: 0px;
    vertical-align: -2px;
}

.platform_form_field_error {
    background: #FFDDDD;
}

.platform_field_error_container {
    font-size: 0.7em;
    color: red;
    display: none;
}

.platform_form_line_air {
    display: flex;
}