.platform_form_field_container {
    margin-bottom: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.platform_form_global_error_container {
    font-size: 0.7em;
    color: red;
    background: #FFDDDD;
    display: none;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}